<div>
  <button *ngIf="!userInfoToggle" (click)="showUserInfo()">Show User Info</button>

  <ng-container *ngIf="userInfoToggle">
    <ng-container *ngIf="(userInfo$ | async) as userCall">
      <p>{{ userCall | json }}</p>
  
      <ng-container *ngIf="!userCall.loading; else userLoading">
        <dl *ngIf="userCall.res.args.docs[0] as User">
          <dt>_id</dt>
          <dd>{{ User._id }}</dd>
          <dt>Name</dt>
          <dd>{{ User.name }}</dd>
          <dt>Bio</dt>
          <dd>{{ User.bio }}</dd>
        </dl>
      </ng-container>
  
      <ng-template #userLoading>
        <h3>Loading...</h3>
      </ng-template>
    </ng-container>

    <button (click)="reloadUserInfo()">Reload User Info</button>
  </ng-container>
  
</div>